* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}
.arrow-buttons{
    display:flex;
    gap:15px;
}
.arrow-buttons button{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    background:#1d1d1d;
    color:white;
    transition:.3s;
}

.arrow-buttons button:hover{
    background:white;
    color:black;
    transform:scale(1.08);
}